h1,h2,h3,h4,h5,h6,span,p,body{
    font-family: 'Work Sans', sans-serif;;
}
img{
    max-width: 100%;
}
.asif{
    height:45px;
    width: auto;
    margin: 9px;
}
.navbar-brand{
    font-weight: 460;
    font-size: 27px;
}
.slider-section{
    background-image: url(./project/mbr-10.jpg);
    background-repeat: no-repeat;
    padding: 200px;
    position: relative;
    z-index: 1;
}
.slider-section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    
}
.slider-caption{
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 27px;
    margin-top: -38px;
}
.slider-caption2{
    color: white;
    text-align: center;
    padding: 27px;
    font-weight: 500;
    font-size: 47px;
}
.col-md-3 h1{
    font-weight: 500;
    font-size: 55px;
}
.about-section{
    background-color:#1f909017;
}
.about-text-left{
    margin-top: 200px;
}
.about-text-left h1{
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 28px;
}
.about-text-left p{
    font-weight: 500;
    font-size: 18px;
}
.blnk-txt1{
    text-align: center;
    font-weight: 400;
    font-size: 43px;
    padding-top: 160px;
}
.blnk-txt2{
    text-align: center;
    padding: 18px;
    color: #2f2b2bc2;
    font-weight: 300;
}
/* portfolio-section*/

.feature-section{
    margin-top: 50px;
}
.feature-item{
    height: 250px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1)
}
.left-img-sec img{
    height: 100%;
    border-radius: 5px 0 0 5px; 
}
.text-sec{
    margin-left: 25px;
    margin-top: 54px;   
}
.text-sec h4{
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 20px;
}
.text-sec p{
    font-size: 17px;
    font-weight: 400;
    color: gray;
}
.left-img-sec2 img{
    height: 100%;
    width: 745px;
    border-radius: 5px 0 0 5px;
}
.left-img-sec3 img{
    height: 100%;
    width: 876px;
    border-radius: 5px 0 0 5px;

}
.left-img-sec4 img{
    height: 100%;
    width: 690px;
    border-radius: 5px 0 0 5px;
}
.left-img-sec5 img{
    height: 100%;
    width: 854px;
    border-radius: 5px 0 0 5px;
}
.left-img-sec6 img{
    height: 100%;
    width: 690px;
    border-radius: 5px 0 0 5px;
}

.portfolio-section{
    
}
.portfolio-item{
    margin-bottom: 25px;
}
.portfolio-item a{
    position: relative;
    display: block;
}
.portfolio-item a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(98,120,223,0.7);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.portfolio-item:hover a::after{
    opacity: 1;
    visibility: visible;
}

.planner-section{
    background-color: #80808024;
    height: 800px;

}
.planner-section h1{
    font-weight: 400;
    font-size: 59px;
    padding: 27px;
}
.planner-section h3{
    font-weight: 300;
    font-size: 25px;
    padding: 6px;
    color:grey;
    margin-bottom: 40px;
}
.Starter-Plan-sec{
    background-color: white;
    width: 40%;
    height: 550px;
    margin-right: 30px;
    margin-left: 150px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1)

}
.User-Plan-sec{
    background-color: white;
    width: 40%;
    height: 550px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1)
}
.Starter-Plan-sec h1{
    font-weight: 400;
    font-size: 50px;
    padding: 27px;
}
.Starter-Plan-sec h4{
    margin-left: 29px;
    color: gray;
    font-weight: 00;
    font-size: 23px;
}
.Starter-Plan-sec h5{
    margin-left: 30px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 37px; 
    color: #767676;
    
}
.my-btn{
    display: inline-block;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;  
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #6278df;
    color: white;
    margin-left: 100px;
    margin-top: 40px;
    padding: 15px 30px;
    font-size: 20px;
    transition: 0.4s;
}
.my-btn:hover{
    color: white;
    background-color: black;

}
.User-Plan-sec h1{
    font-weight: 400;
    font-size: 50px;
    padding: 27px;
}
.User-Plan-sec h4{
    margin-left: 29px;
    color: gray;
    font-weight: 400;
    font-size: 23px;
}
.User-Plan-sec h5{
    margin-left: 30px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 37px; 
    color: #767676; 
}
/*feedback-section*/

.feedback-section{}
.feedback-section h5{
    color: gray;
    font-weight: 300;
    font-size: 26px;
    padding-top: 88px;
}
.feedback-section h1{
    font-weight: 400;
    font-size: 43px;
    color: black;
}
.feedback-section span{
    color: #80808038;
    font-size: 80px;
}
.feedback-section p{
    color: gray;
    font-weight: 400;
    font-size: 20px;
    width: 800px;
    margin: auto;
    padding-bottom: 30px;
}
.author-info{
    width: 200px;
    margin: auto;
}
.author-left{
    text-align: center;
}
.author-left img{
    float: left;
    border-radius: 50%;
    width: 74px;
}
.author-name{
    width: 186px;
    padding: 15px;
    margin-left: 20px;
}
.author-name p{
    text-align: left;
    margin-left: 57px;
}
/* History section*/
.history-sec{
    background: #8489cd17;
    height: 800px;
}
.history-team h1{
    margin-top: 66px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 43px;
}
.history-team p{
    font-weight: 200;
    font-size: 20px;
}
.blank-history p{
    margin-top: 156px;
    font-weight: 200;
    font-size: 20px;
}
.information-item {
    margin-top: 120px;
}
.card img {
    border-radius: 50%;
    width: 133px;
    margin-top: -64px;
    margin-left: 17px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.card-title {
    font-weight: 500;
    font-size: 22px;
    margin-top: 22px;
    margin-left: 12px;
}
.card-subtitle{
    font-size: 21px;
    margin-left: 12px;
}
.card-text{
    margin-left: 12px;
    margin-top: 12px;
    color: gray;
    font-size: 14px;
}
.form-section{}
.form-txt{
    text-align: center;
}
.form-txt h5{
    font-weight: 100;
    font-size: 19px;
    color: gray;
    margin-top: 50px;
}
.form-txt h1{
    margin-top: 20px;
    font-size: 52px;
}
.last-text{
    width: 618px;
    margin: auto;
}
.last-text h4{
    margin-top: 26px;
    margin-bottom: 17px;
}
.last-text h1{
    font-size: 46px;
}
.last-footer-img{
    height: 391px;
    width: 593px;
    margin: auto;
}
.footer-section{
    background: #302b5317
}
.footer-section p{
    padding: 26px;
    font-size: 22px;
}